<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <!-- Smag: this include for HTML5 support on elderly IE's-->
  <%= render 'layouts/shim' %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Smag: improves device support on mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
		<div id="toprow" class="row">
			<div class="span9">
				<div class="center hero-unit">
					<h4>Never miss another LORAX, become a member today &nbsp;&nbsp;<%= link_to "Join LORAX", signup_path, class: "btn btn-large btn-primary" %></h4>
			    </div>
				<%= yield %>
				<%= render 'layouts/footer' %>
			</div>
			<div class="span3"><h3>What's going on here?</h3>
				<!-- start right column blurbs -->

				<h4>I took lessons</h4>
				<p>Back in 2005 or 2006 I discovered <cite>Why's Poignant Guide to Ruby</cite>. It is probably the most artful and accessible introduction to programming I've seen.
					I took to it, and spent many evenings and late nights reading it, and typing things, saving files named cubbyholes.rb and secret_decoder.rb in my Learn directory.</p>
				<p>	Once I moved to NYC in 2007, the Poignant Guide was stored in the basement, and I would see it from time to time, and I'd think: wow, it would be fun to 
					continue with that, someday. That day came about 2 weeks ago. I found this <a href="http://RailsTutorial.com">RailsTutorial.com</a> site and installed a bunch 
					of stuff. Homebrew, RVM, Ruby, Rails, Git, Heroku, Mysql, you name it. Eventually I got things running. And with the help of stackoverflow.com and about 12 
					tutorials I managed to get this site up.</p>

				<h4>What's the plan?</h4>
				<p>I'm going to create some sort of application here. Been thinking about it a bit. I have a few ideas. What about some
					tools for people who design software? Or a way to find and use creative commons images, sort of like a stock image site for public domain images?
					Or something that I could use at work? We'll see.</p>
					<p>First, I'll need to go through a lot more learning. I need to learn more about Git and Heroku. How to create a custom subdomain, for example, without 
					breaking my Git connection to Heroku. I need to understand how to create branches in Git, and how to collaborate with a team of people. 
					I need to learn about testing, automated and manual. I tried out Guard with Rspec, and I have it sort of working. But mainly, I need to learn 
					Rails and Ruby. I'd like to go to some training. </p>

				<h4>Oh... what I'm gonna do?</h4>
				<p>Well, this is just a shell where you see a few static pages and some buttons, I see a new application being born. When it grows up, you'll be able to login
					logout, get updates via email, comment, publish, and do things. I need to learn how to upload, store, and manipulate images on the fly. Some streaming 
					fonts to make this place a home? </p>

				<p class="smag">Made by <a href="http://www.smagula.org">smag</a> with Ruby on Rails, Bootstrap, and a slew of tutorials</p>
			</div>
		
		</div>
		
	</div>
</body>
</html>
